<!DOCTYPE html>
<html ng-app='app' >
<head>

</head>

<body>

    <div>





    </div>

    <script src="/shoppingcartangular/node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/shoppingcartangular/node_modules/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/shoppingcartangular/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script  src="/shoppingcartangular/node_modules/angular/angular.js"></script>
    <script src="/shoppingcartangular/js/app.js"></script>


</body>
</html>
